@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
  min-height: 100%;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  
}

ul {
  list-style-type: none;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
  
}

.left-links {
  display: flex;
  justify-content: left;
}

.right-links {
  display: flex;
  padding-right: 16px;
}

.header {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between
}

.footer {
  background: #eee;
  display: flex;
  gap: 16px;
  align-content: flex-end;
  justify-content: space-between;
}


.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.input {
  display: flex;
  justify-content: center;
}